{% extends "base.html" %}

{%  block title %} {{ item.title }} &mdash; Новости сайта {% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="/">Главная</a> <span class="divider">/</span></li>
        <li><a href="/news/">Новости</a> <span class="divider">/</span></li>
        <li class="active">{{ item.title }}</li>
    </ul>

    <h1>{{ item.title }}</h1>
    <div class="news-block-date">{{ item.pubDate }}</div>
    <p>{{ item.content }}</p>
    <a class="btn btn-small"
       href="/news/">&laquo; вернуться к списку</a>

{% endblock %}