{% extends 'base.html' %}

{% block content %}

    {% for it in list_models %}

        {% if it.1.0 %}

            <h1 class="blue-title">{{ it.1.0.brand }} серия {{ it.0 }}</h1>

            {% include 'spares/models.html' with models=it.1 %}

        {% endif %}

    {% endfor %}

    <div>
        <p class="MsoNormal">Компания <span lang="EN-US">S</span>pares-bmw специализируется на запчастях для автомобилей
            марки <span lang="EN-US">bmw</span>. Качественные <strong>запчасти </strong><strong><span
                    lang="EN-US">BMW</span></strong><span>&nbsp; </span>являются достаточно труднодоступным видом
            автозапчастей.</p>

        <p class="MsoNormal"><span lang="EN-US">S</span>pares-bmw предлагает уникальную систему покупки автозапчастей
            <span lang="EN-US">BMW</span> без регистрации на сайте и предлагает вам <strong>каталог
                запчастей </strong><strong><span lang="EN-US">bmw</span>, </strong>в котором вы можете с удобством
            посмотреть и заказать запчасти. В данный момент запчасти можно приобрести только в Санкт-Петербурге, но
            скоро планируется доставка и в другие регионы России.</p>

        <p class="MsoNormal">В каталоге <span lang="EN-US">S</span>pares-bmw вы найдёте <strong>оригинальные
            запчасти </strong><strong><span lang="EN-US">BMW</span></strong> от производителя. Компания работает с
            официальными поставщиками запчастей данной автомобильной марки.</p>

        <p class="MsoNormal"><strong>Магазин запчастей </strong><strong><span lang="EN-US">BMW</span><span
                lang="EN-US"> </span></strong><span lang="EN-US"><span>&nbsp;</span></span><span lang="EN-US">S</span>pares-bmw
            располагает большим ассортиментом. Всегда в наличии расходные материалы. <strong>Продажа запчастей </strong><strong><span
                    lang="EN-US">BMW</span></strong><span lang="EN-US"> </span>производится по самым оптимальным ценам.
            Заказ можно осуществить прямо на сайте. Кроме того, имеются в продаже<strong> </strong><strong><span
                    lang="EN-US">bmw</span> неоригинальные запчасти.</strong> Закажите<span>&nbsp; </span><strong>бмв
                запчасти </strong>у нас, и мы гарантируем вам быструю и оперативную доставку по городу Санкт-Петербург.
        </p>

        <p class="MsoNormal">В настоящее время существует множество магазинов автозапчастей, но лишь некоторые из них
            имеют действительно качественные услуги по продаже своих товаров. <strong>Магазин</strong> <strong>запчастей
                бмв </strong><span>&nbsp;</span><span lang="EN-US">S</span>pares-bmw существует достаточно давно и имеет
            богатый опыт по подбору любых комплектующих, предлагая огромный <strong>каталог бмв запчастей. </strong>Интернет-магазин
            <span lang="EN-US">S</span>pares-bmw <span>&nbsp;</span>гарантирует качественную работу по подбору тех
            автозапчастей, которые нужны именно вам.</p>

        <p class="MsoNormal"><strong>Купить запчасти бмв</strong> в <span lang="EN-US">S</span>pares-bmw - это значит
            сделать выбор в пользу отличного качества.<strong> Цены на запчасти бмв </strong>здесь значительно ниже, чем
            в других магазинах, специализирующихся на автозапчастях.</p>

        <p class="MsoNormal">В <span lang="EN-US">S</span>pares-bmw вы можете найти широкий модельный ряд автозапчастей.
            <strong>Запчасти бмв е34</strong> - только качественные комплектующие. Всегда в наличии <strong>бмв е36
                запчасти.</strong> Также предлагаются <strong>запчасти для бмв е39. </strong>В магазине <span
                    lang="EN-US">S</span>pares-bmw вы найдёте любые детали и <strong>запчасти +для бмв
                х5. </strong><span>&nbsp;</span>Здесь вы можете заказать и получить в короткие сроки <strong>бмв 525
                запчасти. </strong>Также в наличие оригинальные <strong>бмв е30 запчасти. </strong>Если вы ищете
            <strong>запчасти на бмв 520, </strong>обратитесь в <span lang="EN-US">S</span>pares-bmw и наши опытные
            специалисты помогут вам подобрать именно ту деталь, которая вам нужна.</p>

        <p class="MsoNormal">При выборе автозапчастей для <span lang="EN-US">BMW</span> следует помнить, что некоторые
            запчасти должны быть исключительно оригинальные. К примеру, подвеска, детали салона автомобиля. Именно эти
            детали чаще всего выходят из строя. В наши дни перед покупателем не стоит проблемы в выборе подходящего
            магазина автозапчастей. Потребителю достаточно лишь выйти в Интернет и зайти на сайт<span>&nbsp; </span><a
                    target="_blank" href="http://www.spares-bmw.ru/">www.spares-bmw.ru</a>. Здесь вы в спокойной
            обстановке, выберете интересующую вас деталь, которую вам доставят в максимально короткие сроки по г.
            Санкт-Петербург и области. На сайте вы всегда сможете заказать <strong>запчасти bmw e34</strong>.</p>

        <p class="MsoNormal">На <span lang="EN-US">S</span>pares-bmw представлен широкий ассортимент неоригинальных и
            оригинальных запчастей. <strong>Запчасти bmw e39</strong> всегда пользуются спросом в интернет-магазине
            <span lang="EN-US">S</span>pares-bmw. И, конечно же, мы всегда рады предложить вам ЛЮБУЮ деталь из каталога
            <strong>запчасти bmw x5. </strong></p>

        <p>Распродажа чемоданов. Купить отличные <a href="http://sumo4ka.ru/Suitcases">чемоданы</a> можно на сайте
            http://Sumo4ka.ru. Скидки на чемоданы до 30%.</p>

        <p class="MsoNormal">Приобретённые у <span lang="EN-US">S</span>pares-bmw автомобильные детали долгое время
            будут радовать вас бесперебойной и безотказной работой. И помните, выбирая <span lang="EN-US">S</span>pares-bmw
            – вы выбираете качество!<span><br>
</span></p>
    </div>

{% endblock %}